<!DOCTYPE html>
<html>
  <head th:replace="layouts/base-layout :: head"> </head>
  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-3">
          <div class="card card-body">
            <span th:if="${session.usuario != null}" style="font-weight: bold; font-size: 22px;"
              >¡Bienvenido
              <span
                class="font-italic"
                th:text="${session.usuario.nombre}"
              ></span
            >!</span>
            
            <form th:action="@{/logout}" method="POST">
            	<button type="submit" class="btn btn-primary mt-3">Salir</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
